@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --ff-default: "Outfit", sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  --clr-neutral-1: hsl(0, 0%, 100%);
  --clr-neutral-2: hsl(212, 45%, 89%);
  --clr-neutral-3: hsl(220, 15%, 55%);
  --clr-neutral-4: hsl(218, 44%, 22%);
}

/* utilities classes */

body {
  font-family: var(--ff-default);
  font-size: 0.938rem; /* 15px */
  font-weight: var(--fw-400);
  background-color: var(--clr-neutral-2);
  color: var(--clr-neutral-3);
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.card {
  margin-inline: 2rem;
  padding: 1rem;
  text-align: center;
  background-color: var(--clr-neutral-1);
  border-radius: 1rem;
  max-width: 20.313rem; /* 325px */
}

.card__content {
  padding: 1.5rem 1rem;
}

.card__img {
  border-radius: 0.5rem;
}

.card__content__title {
  font-size: 1.4rem;
  font-weight: var(--fw-700);
  color: var(--clr-neutral-4);
}

.flow > * + * {
  margin-top: 1rem;
}
