@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

:root {
  --font-family-default: "Outfit", sans-serif;
  --clr-neutral-1: hsl(0, 0%, 100%);
  --clr-neutral-2: hsl(212, 45%, 89%);
  --clr-neutral-3: hsl(220, 15%, 55%);
  --clr-neutral-4: hsl(218, 44%, 22%);
}

body {
  font-family: var(--font-family-default);
  font-size: 0.938rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-neutral-2);
  color: var(--clr-neutral-3);
}

img {
  display: block;
  max-width: 100%;
}

.img-qr-code {
  border-radius: 1rem;
}

.card-container {
  text-align: center;
  padding: 1rem;
  background-color: var(--clr-neutral-1);
  border-radius: 1rem;
  margin: 0 1rem;
  max-width: 21.3rem;
}

.flex-flow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section {
  padding: 0 1.1rem 1.1rem;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr-neutral-4);
}
